nav {
    border-style: solid;
    text-align: center;
    background-color: black;
    font-size: 16pt;
    width: 100%;
    margin: 0px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: white;
}
nav a:hover {color: gold}

div {
    padding: 50px;
    display: block;
}

.container {
    background-color: lightgray;
    box-shadow: 0px 2px 3px black;
    margin: 0px 5% 0px 5%;
    border-radius: 10px;
    padding: 0px;
    text-align: center;
    flex-basis: 50%;
    max-width: 35%;
}

.container-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

div img {
    max-width: 100%;
    object-fit: cover;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(lightgray, rgb(39, 39, 39));
    background-size: stretch;
    background-repeat: no-repeat;
}

.post {
    max-width: 30%;
    max-height: 30%;
    border-style: outset;
    border-color: black;
    border-width: 5px;
    padding: 0px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
}
#posts {
    padding: 0px;
}
#posts2 {
    padding: 0px;
}

.postText {
    margin: 5px;
    text-align: center;
}

header {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
}
header h1 {
    margin: 0px
}

footer {
    color: white;
    background-color: rgb(26, 26, 26);
    width: 100%;
    border-color: rgb(26, 26, 26);
    border-style: solid;
    margin: 0px;
}

footer p {
    margin: 2px;
}
footer a{
    color: white;
    text-decoration: none;
}

footer a:hover {color: gold}
