nav {
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    font-size: 16pt;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

div {
    padding: 50px;
    display: block;
}

.container {
    box-shadow: 0px 2px 3px black;
    margin: 0px 5% 0px 5%;
    border-radius: 10px;
    padding: 0px;
    text-align: center;
    flex-basis: 50%;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
}

div img {
    max-width: 100%;
    object-fit: cover;
}

.post {
    max-width: 30%;
    max-height: 30%;
    border-style: outset;
    border-color: black;
    border-width: 5px;
    padding: 0px;
    margin: 50px;
}

.postText {
    margin: 5px;
}